<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/admin.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/iconoir-icons/iconoir@main/css/iconoir.css" />
    <title>صفحة الإشراف</title>
</head>

<body>
    <%- include('sidebar.html') %>
        <div class="container">
            <div class="search-section">
                <form>
                    <input type="text" name="search-input" id="search-input" placeholder="أدخل عنوان المنشور ..">
                    <button type="submit">إبحث</button>
                </form>
            </div>
            <% if (allPosts.length> 0) { %>
                <div class="posts-container">
                    <div class="posts-grid">
                        <% allPosts.forEach(post=> { %>
                            <div class="post">
                                <img src="https://t4.ftcdn.net/jpg/08/22/19/39/360_F_822193991_AN71gkYWnLq6monTaKvYUDbuMOzzluRx.jpg"
                                    alt="" />
                                <div class="post-content">
                                    <span class="category">
                                        <% if (post.category == "coding") { %> <%= "برمجة" %> 
                                        <% } else if (post.category == "linux") { %> <%= "لينكس" %>
                                        <% } else if (post.category == "foss") { %> <%= "برمجيات حرة" %>
                                        <% } else { %> <%= "مواضيع عامة" %>
                                        <% } %>
                                    </span>
                                    <h1>
                                        <%= post.title %>
                                    </h1>
                                    <p>
                                        <%= JSON.parse(post.content)[0].insert.substr(0, 144) + '..' %>
                                    </p>
                                </div>
                                <div class="post-actions">
                                    <a href="<%= " /admin/edit-post/" + post._id %>">
                                        <i class="iconoir-page-edit"
                                            style="color: white; background-color: rgb(51, 164, 119);">

                                        </i></a>
                                    <i class="iconoir-trash-solid" onclick="deletePost('<%= post._id %>')"
                                        style="color: white; background-color: rgb(188, 98, 110);"></i>
                                </div>
                            </div>
                            <% }) %>
                    </div>
                </div>
                <% } else { %>
                    <span class="message" style="margin: auto; display: flex; align-items: center; gap: 2px;">
                        تحرك وانشر ما في جعبتك
                        <i class="iconoir-edit-pencil"></i>
                    </span>
                    <% } %>

        </div>
        <script src="/js/admin.js"></script>
</body>

</html>