<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/admin-new-post.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/iconoir-icons/iconoir@main/css/iconoir.css" />
    <title>منشور جديد</title>
</head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js"></script>
    <%- include('sidebar.html') %>
        <div class="container">
            <form>
                <input type="text" name="title" id="title" value="<%= post.title %>" required>
                <select name="category" id="category">
                    <option value="coding" <% if (post.category=='coding' ) { %>
                        <%- 'selected' %>
                            <% } %> >برمجة
                    </option>
                    <option value="linux" <% if (post.category=='linux' ) { %>
                        <%- 'selected' %>
                            <% } %>>لينكس
                    </option>
                    <option value="foss" <% if (post.category=='foss' ) { %>
                        <%- 'selected' %>
                            <% } %>>برمجيات حرة
                    </option>
                    <option value="general-topics" <% if (post.category=='general-topics' ) { %>
                        <%- 'selected' %>
                            <% } %>>مواضيع عامة
                    </option>
                </select>
                <input type="file" name="post-thumbnail" id="post-thumbnail" accept="image/*">
                <%- include('quillEditor', {content: post.content}) %>
                <div class="actions">
                    <input type="submit" value="حفظ" style="background-color: #3D90D7; color: white;" />
                    <input type="button" style="color: white;" >
                    <!-- <input type="button" value="إخفاء" style="background-color: #FFD63A; color: white;" > -->
                </div>
                <style>
                    div.actions {
                        display: flex;
                        gap: 6px;
                    }

                    .actions input {
                        width: 100%;
                    }
                </style>
            </form>
        </div>
        <%- include('snackbar.html') %>
        <script>
            const thumbnailURL = '<%= post.thumbnail_url %>';
            const postId = '<%= post._id %>';
            const published = '<%= post.published %>';
        </script>
        <script src="https://cdn.jsdelivr.net/npm/axios@1.4.0/dist/axios.min.js"></script>
        <script src="/js/utils.js"></script>
        <script src="/js/admin-edit-post.js"></script>
</body>

</html>