<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/admin-new-post.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/iconoir-icons/iconoir@main/css/iconoir.css" />
    <title>منشور جديد</title>
</head>

<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js"></script>
    <%- include('sidebar.html') %>
        <div class="container">
            <form>
                <input type="text" name="title" id="title" value="<%= post.title %>" required>
                <select name="category" id="category">
                    <option value="coding" <% if (post.category=='coding' ) { %>
                        <%- 'selected' %>
                            <% } %> >برمجة
                    </option>
                    <option value="linux" <% if (post.category=='linux' ) { %>
                        <%- 'selected' %>
                            <% } %>>لينكس
                    </option>
                    <option value="foss" <% if (post.category=='foss' ) { %>
                        <%- 'selected' %>
                            <% } %>>برمجيات حرة
                    </option>
                    <option value="general-topics" <% if (post.category=='general-topics' ) { %>
                        <%- 'selected' %>
                            <% } %>>مواضيع عامة
                    </option>
                </select>
                <%- include('quillEditor', {content: post.content}) %>
                    <input type="submit" value="حفظ" />
            </form>
        </div>
        <%- include('snackbar.html') %>
            <script>
                const postId = '<%= post._id %>';
            </script>
            <script src="/js/admin-edit-post.js"></script>
</body>

</html>